.root{
    -fx-background-color: -fx-theme-background-color;
    -fx-padding: 20px;
    -fx-border-color: -fx-theme-special-light-color;
}

.error-title{
    -fx-font-size: 18px;
    -fx-text-fill: -fx-theme-text-color;
    -fx-font-weight: bold;
}
